@{
    ViewData["Title"] = "Home Page";
} 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The foremost athority for good humor that you will find anywhare in your local host </p>
</div>
 